div#root {
  width: 80%;
  margin: auto;
  border: 1px solid;
}

.header {
  border: 1px solid;
}

.content {
  border: 1px solid;
  height: 600px;
}

.time-open {
  float: right;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* .btn-action button {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-right: 20px;
}

.btn-action {
  width: 50%;
  margin: auto;
} */

/* .list-users {
  float: left;
} */

.form {
  float: right;
}

.form-info {
  width: 40%;
}
